<div class="main-container">
  <div class="d-flex flex-column form-title">
    <%= form_with model: @task do |f| %>
      <div><%= f.label :title %></div>
      <div><%= f.text_field :title %></div>
  </div>
  <div class="d-flex flex-column form-description">
    <div><%= f.label :details %></div>
    <div><%= f.text_field :details %></div>
  </div>
  <div class="checkbox-card">
  <% unless @task.new_record? %>
  <%# could also write above line as f.object.new_record? %>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  <% end  %>
  </div>
    <%= f.submit %>
  <% end %>
</div>
