<div class="main-container">
<h1>Edit Task</h1>
  <div class="form">
    <%= render "form", task: @task %>
  </div>
  <%= link_to "Back to tasks list", tasks_path %>
</div>

<%# <%= form_with model: @task do |f| %>
  <%# <%= f.label :title %>
  <%# <%= f.text_field :title %>
  <%# <%= f.label :details %>
  <%# <%= f.text_field :details %>
  <%# <%= f.label :completed %>
  <%# <%= f.check_box :completed %>
  <%# <%= f.submit %>
<%# <% end %>
